.btn-red{
    position: absolute;
    align-self: center;
	bottom: 8%;
    background-color: #ff4655;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Roboto", serif;
}

.btn-red:hover{
	background-color: rgba(150,150,150,0.3);
	color: #ff4655;
}


.card-img {
    width: 150px; 
    height: 100px;
    object-fit: contain; 
}


.card-img,
.card h2,
.btn-red {
    flex: 1;
    margin: 20px 0;
}

.card p {
    text-align: center; 
    flex: 1;
    margin-bottom: 200px;
}
